/* ImgComponent.css */
.image-text-wrapper {
    display: flex;
    align-items: start;
    gap: 10%;
    justify-content: space-between;
    padding: 0 10%;
    margin-bottom: 10rem ;
  }
  
  .image-text-img {
    height: 700px;
    object-fit: cover;
    width: 40%;
  }
  .image-text-content h2, 
  .image-text-content p {
    text-align: start;
    width: 100%;
  }
  .image-text-content {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  
  .image-text-title {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
  }
  
  .image-text-paragraph {
    margin: 8px 0 0;
    font-size: 1rem;
    color: #666;
  }
  