.images-section {
  padding: 0 10%;
  background-color: var(--clr-bg-light);
  font-family: "Manrope", sans-serif;
  margin: 0 auto;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}

.card {
  overflow: hidden;
  border-radius: var(--radius);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  cursor: pointer;
  min-height: 65vh;
}

.card-image-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 66.66%; /* 3:2 aspect ratio */
  height: 0;
  overflow: hidden;
  height: 100%;
}

.card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0; 
  transition: transform 0.5s ease;
}

.card:hover .card-image {
  transform: scale(1.1);
}

/* Overlay */
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: #fff;
}

/* Centraliza título e descrição */
.overlay-content {
  flex: 1;                                  /* ocupa todo espaço antes do botão */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
}

.card-title {
  font-size: 2.75em;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}

.card-description {
  font-size: 1.0625em;
  font-weight: 300;
  line-height: 1.45;
  margin: 1rem 0 0;
}

/* Botão sempre encostado na base */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: auto;    /* empurra pro fim da coluna */
}

.button-container .button,
.card-button {
  padding: 0.6rem 1.2rem;
  background: var(--clr-primary);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  transition: background var(--transition-fast), transform var(--transition-fast);
}

.button-container .button:hover,
.card-button:hover {
  background: var(--clr-secondary);
  transform: scale(1.05);
}


@media (max-width: 768px) {
.images-section{
  padding: 0 5%;
}
}
