/* src/pages/CookiesPolicy.css */
.default-container {
  padding: 10%;
  margin: 2rem auto;
  font-family: "Manrope", sans-serif;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.default-header {
  margin-bottom: 2rem;
}
.default-header p {
  font-size: 1.525rem;
  color: var(--clr-text);
  margin-bottom: var(--spacing-md);
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  width: 50vw;
}
.default-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.default-section {
  margin-bottom: 1.5rem;
}
.default-header h1 {
  text-align: start;
}
.default-section h2 {
  font-size: 2.0rem;
  color: var(--clr-text);
  margin-bottom: var(--spacing-md);
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  width: 50vw;
}

.default-section p {
  font-size: 1.525rem;
  color: var(--clr-text);
  margin-bottom: var(--spacing-md);
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  width: 50vw;
}

.default-section ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.default-section ul li {
  margin-bottom: 0.5rem;
}



/* ===================== */
/* Estilos responsivos   */
/* ===================== */
@media (max-width: 768px) {
  .default-container {
    padding: 8% 5%;
    gap: 20px;
    width: 100%;
  }

  .default-title {
    font-size: 1.75rem;
  }

  .default-header p,
  .default-section h2,
  .default-section p {
    font-size: 1.25rem;
    width: 100%;
  }

  .default-section ul {
    margin-left: 1rem;
  }
}

