.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 10rem;
    width: 100%;       
    max-width: none;   
  }
  
  .divider-line {
    flex: 1;
    height: 1px;
    background:  var(--clr-border);
  }
  
  /* permite que as pétalas extrapolem o “viewport” do SVG sem cortar */
  .divider-icon {
    width: 150px;
    height: 40px;
    margin: 0 1rem;

   /* sem transition: aplica o rotate imediatamente */
   transition: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
  }
  
  
  .flower-spinner {
    overflow: visible;    /* também no próprio SVG */
  }
  